.filter_button{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.input{
    margin-right: 18px;
    width: 160px;
}
.avatars{
    display: flex;
    flex-direction: row-reverse;
    margin: 0 12px 0 2px;
}
.is_active{
    display: inline-flex;
    margin-left: -2px;
    border-radius: 50%;
    transition: transform 0.1s;
}
